.training-session-title{
	font-size: 1.1em!important;
	list-style-type: none !important;
	padding-left: 0px !important;
	width:98% !important;
}

.trainee-title{
	font-size:1.1em!important;
}


.trainee-done a{
	color:#33CC00 !important;
	background: transparent url(../img/validate-survey.gif) right 4px no-repeat !important;
	background-size:6.5% !important;
}



.selected-session {
	background-color: #000 !important;
	color: white !important;
}

.selected-trainee {
	font-weight: bold !important;
	text-decoration: underline !important;
}

.year > a {
	text-align: center;
	font-weight: bold !important;
	font-size: 1.4em;
	
}

.fromtoinst {
	list-style-type: none !important;
	
}

.li-header {
	padding-right: 25px;
	padding-left: 25px;
}

.level3 {
	padding-left:0px !important;
}
}