fieldset.k-radio > legend{
	padding-left:10px;
	text-align:left;
	width:35em;
	font: 0.95em bold "Helvetica Neue", Helvetica, Arial, sans-serif !important;
}

.k-radio label{
	font: 0.95em bold "Helvetica Neue", Helvetica, Arial, sans-serif !important;
}


.elseclause label{
	
	
	margin-left: 1em;
	margin-right: 1em;
	font: 0.90em normal "Helvetica Neue", Helvetica, Arial, sans-serif !important;
	
	
	
}

.elseclause textarea{	
	width: 25em;
	
}


.openquestion label{
	
	padding-left:10px;
	text-align:left;
	width: 30em;
	font: 0.95em bold "Helvetica Neue", Helvetica, Arial, sans-serif !important;
	
	
}
.openquestion textarea{
	
	width: 30em;
	
}