fieldset.k-radio legend{

	text-align:left;
	width: 35em;
	
}

legend {
	color:#06A;
}

form fieldset legend {
	
	font-size:1.5em;
	
}

.elseclause{
	margin-left: 30px;
}

.openquestion label{
	text-align:left;
	width: 35em;
}