fieldset.k-radio legend{

	text-align:left;
	width: 40em;
	
}

legend {
	color:#06A;
}

form fieldset legend {
	
	font-size:1.5em;
	
}

.elseclause{
	margin-left: 1em;
}

.elseclause textarea{
	width:35em;
}

.openquestion label{
	text-align:left;
	width: 50em;
}
.openquestion textarea{
	
	width: 50em;
}