#main{
	width:100% !important;
	margin-left:0px !important;
}

.oneLine {
	margin-left: 5%;
}

.oneLine label {
	float: none;
}

#searchForm {
	margin-bottom: 5%;
}

.accordion {
	width: 100%;
}



.col-left {
	float: left;
	width: 36%;
}

.col-right {
	float: right;
	width: 62%;
}


fieldset.k-sub-group  legend{
	
	
	
}